/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a {
    color: white;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    font-family: Inter;
    color: #ffffff;
    background-color: #000000;
}
.dark-theme{
    background-color:black;
}
.light-theme{
    background-color: white;
    color: black;
    fill: black;
    a{color: black;}
}


.wrapper {
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header__menu-theme{
    cursor: pointer;
}
.header {
    // background-image:  url("../images/bg.jpg");
    background: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        height: 590px;
        background-position: -5px -30px;
        background-size: auto 620px;
    }

    @media (max-width: 450px) {
        height: 590px;
        background-position: -190px -30px;
        background-size: auto 620px;
    }

    // .header__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 20px;
        @media (max-width: 768px) {
            padding: 20px 64px 20px 60px;
        }
        @media(max-width:620px){
            padding: 20px 15px 20px 15px;
        }  
    }

    // .header__menu

    &__menu {
        display: flex;
        font-size: 20px;
        line-height: 50px;
        align-items: center;
        gap: 20px;
    }

    // .header__menu-list

    &__menu-list {
        display: flex;
        gap: 31px;
        padding: 0 10px 0 0 ;
        @media (max-width: 768px) {
            display: none;
        }
        a:active {
            color: rgb(201, 154, 121);
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #bdae82;
        }
    }

    // .header__menu-item


    // .header__menu-language

    &__menu-language {
        font-weight: bold;
        word-spacing: 4px;
        cursor: pointer;
    }
    .check{
        color: rgb(190, 67, 36);
    }
   
    .ru{
        @media(max-width:768px){
            padding: 0 0 0 10px;
        }
    }
    .dropdown {
        display: none;
        @media(max-width:768px){
            display: inline-block;
        }
        
       
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        
        width: 100%;
        height: 615px;
        overflow: auto;
                z-index: 1;
      }
      
      .dropdown-content ul {
        color: white;
        
        padding: 157px 0px 0px 0px;
        text-decoration: none;
        display: block;
        
      
      }
      .dropdown-content ul li{
        display: block;
        font-size: 35px;
        line-height: 73px;
        padding: 0 0 16px 0;
        a:active {
            color: rgb(201, 154, 121);
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #bdae82;
        }
      }
      .dropbtn{
          position:relative;
          z-index: 5;
      }
      .dropbtn:hover{
          cursor: pointer;
      }
      .dropdown a{
          color:white;
      }
    
      
      .show {display: block;
        text-align: center;
        width: 100%;
        
        position: absolute;
        top: -25px;
        left: 0px;      
        @media(max-width:620px){
            position: absolute;
            top:-25px;
            left: 0px;
        }  

    }
      .bar1, .bar2, .bar3 {
        width: 50px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 10px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 9px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-9px, -9px);
      }

    // .header__title

    &__title {
        width: 490px;
        margin: 160px 0 0 80px;
        padding-bottom: 330px;
        @media (max-width: 768px) {
            width: 390px;
            margin: 78px 0 0 60px;
        }
        @media (max-width: 450px) {
            width: 100%;
            text-align: center;
            margin: 120px auto 0 auto;
           
        }
    }

    // .header__title-name

    &__title-name {
        h1 {
            font-family: Merriweather;
            font-weight: bold;
            font-size: 60px;
            line-height: 200%;
            /* identical to box height, or 200% */
            padding: 0 0 10px 0;
            @media (max-width: 768px) {
                font-size: 32px;
                font-weight: normal;
                padding: 0 0 20px 0;
            }
            @media (max-width: 450px) {
                max-width: 220px;
                font-size: 32px;
                font-weight: normal;
                padding: 0 0 20px 40px;
            }
        }
    }

    // .header__title-info

    &__title-info {
        p {
            font-size: 20px;
            line-height: 40px;
            padding: 0 0 25px 0;
            @media (max-width: 768px) {
                line-height: 24px;
                padding: 0 0 60px 0;
            }
            @media (max-width: 450px) {
                font-size: 15px;
                max-width: 230px;
                line-height: 24px;
                padding: 0 0 60px 40px;
            }
        }
    }

    // .header__title-btn
  

    // .header__title-btnHire

    &__title-btnHire {
        
        height: 55px;
        width: 220px;
        font-size: 20px;
        line-height: 40px;
        background-color: #bdae82;
    }
    &__title-btnHire:hover {
        color: #ffffff;
    }
}



.skills {
    // .skills__title

    &__title {
        padding: 100px 0 0 0;
        margin: 0 0 60px 0;
    }
}

.title {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #bdae82;
    // margin: 0 0 60px 0;
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 40px;
    }
}

.title:before,
.title:after {
    content: "";

    display: inline-block;
    width: 274px;
    height: 2px;
    background-color: #bdae82;
    position: relative;
    @media (max-width: 768px) {
        width: 117px;
    }
}
.title:before {
    margin-left: -100%;
    left: -20px;
}
.title:after {
    margin-right: -100%;
    right: -20px;
}

.skills {
    // .skills__content

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            justify-content: center;
            column-gap: 64px;
        }
    }

    // .skills__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        margin: 0 auto;
        @media (max-width: 768px) {
            margin: 0 0 73px 0;
            max-width: 300px;
        }
    }

    // .skills__item-img

    &__item-img {
        margin: 0 0 50px 0;
        @media (max-width: 768px) {
            margin: 0 0 35px 0;
        }
    }

    // .skills__item-name

    &__item-name {
        h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
        }
        margin: 0 0 20px 0;
    }

    // .skills__item-info

    &__item-info {
        p {
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            max-width: 280px;
            @media (max-width: 768px) {
                line-height: 22px;
            }
        }
    }
}

.portfolio {
    // .portfolio__title
   
    &__title {
        padding: 110px 0 0 0;
        font-weight: bold;
        font-size: 40px;
        line-height: 80px;
        margin: 0 0 60px 0;
        @media (max-width: 768px) {
            font-size: 32px;
            padding: 85px 0 0 0;
            margin: 0 0 50px 0;
        }
    }

    // .portfolio__seasons

    &__seasons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0 0 60px 0;
        @media (max-width: 768px) {
            
            margin: 0 auto 60px auto;
        }
        @media (max-width: 450px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto 60px auto;
        }
    }

    // .portfolio__seasons-btn

    &__seasons-btn {
        width: 220px;
        height: 55px;
        border: 2px solid #bdae82;
        background-color: transparent;
        color: #bdae82;
        font-size: 20px;
        line-height: 40px;
        
    }
    &__seasons-btn:hover {
        background: #bdae82;
        color: #000000;
    }
    .active{
        background: #bdae82;
        color: #000000;
    }

    // .portfolio__seasons-btn-check

    // .portfolio__gallary

    &__gallary {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        @media (max-width: 450px){
          img{
              width: 250px;
          }
        }
    }
}

.video {
    // .video__title

    &__title {
        padding: 100px 0 0 0px;
        margin: 0 0 60px 0;
        @media(max-width:768px){
            margin: 0 0 70px 0;
        }
    }

    // .video__pleer

    // .video__pleer-img

    &__pleer-img {
        text-align: center;

        position: relative;
        img {
            width: calc(1400 / 1440 * 100%);
            height: auto;
            @media (max-width: 768px) {
                width: 100%;
                height: 418px;
            }
        }
        // svg {
        //     width: 100%;
        //     height: auto;
        // }
    }

    // .video__pleer-play

    &__pleer-play {
        position: absolute;
        top: 41%;
        left: 45.5%;
        @media (max-width: 768px) {
            position: absolute;
            top: 27%;
            left: 28.5%;
        }
        @media (max-width: 450px) {
            position: absolute;
            top: 27%;
            left: 10.5%;
        }
    }
    &__pleer-play-svg2 {
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }
    &__pleer-play-svg {
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__pleer-play-svg:hover {
        cursor: pointer;
        fill: #bdae82;
    }
    &__pleer-play-svg2:hover {
        cursor: pointer;
        fill: #bdae82;
    }
}

.price {
    // .price__title
    margin: 0 0 100px 0;
    @media(max-width:768px){
        margin: 0 0 50px 0;
    }

    &__title {
        padding: 100px 0 0 0;
        margin: 0 0 60px 0;
        @media(max-width:768px){
            margin: 0 0 70px 0;
        }
    }

    // .price__content

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    // .price__content-item

    &__content-item {
        width: 450px;
        border: 3px solid #bdae82;
        box-sizing: border-box;
        border-radius: 0px;
        @media (max-width: 768px) {
            width: 420px;
            margin: 0 0 25px 0;
        }
    }

    // .price__content-item-name

    &__content-item-name {
        font-family: Merriweather;
        font-weight: bold;
        font-size: 28px;
        line-height: 56px;
        /* identical to box height, or 200% */
        text-align: center;
        padding: 41px 0 0 0;
        margin: 0 0 20px 0;
    }

    // .price__content-item-price

    &__content-item-price {
        font-family: Merriweather;
        font-weight: bold;
        font-size: 24px;
        line-height: 48px;
        /* identical to box height, or 200% */
        text-align: center;
        color: #bdae82;
        margin: 0 0 20px 0;
    }

    // .price__content-item-info

    // .price__content-item-info-list

    &__content-item-info-list {
        margin: 0 0 40px 0;
    }

    // .price__content-item-info-list-li

    &__content-item-info-list-li {
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
        text-align: center;
    }

    // .price__content-item-btn

    &__content-item-btn {
        margin: 0 0 40px 0;
    }

    // .price__btn

    &__btn {
        width: 220px;
        height: 55px;
        background: #bdae82;
        border-radius: 0px;
        font-size: 20px;
        line-height: 40px;
        /* identical to box height, or 200% */
        color: #000000;
    }
    &__btn:hover {
        color: #ffffff;
    }
}

.contacts {
    // .contactMe__feedback
    background: url("../images/contacts.jpg");
    background-size: cover;

    color: #bdae82;
    
    @media (max-width: 768px) {
        height: 600px;
        background-position: -245px -4px;
        background-size: auto 620px;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 768px) {
            align-items: center;
        }
    }

    // .contactMe__feedback-name

    &__feedback-name {
        h3 {
            font-family: Merriweather;
            font-weight: bold;
            font-size: 40px;
            line-height: 80px;
            /* identical to box height, or 200% */
            // 
            @media (max-width: 768px) {
                font-size: 32px;
                line-height: 64px;
                margin: 0 0 40px 0;
            }
        }
        padding: 60px 243px 40px 0;
        @media (max-width: 768px) {
            padding: 62px 0 0 0;
        }
    }

    // .contactMe__feedback-form

    &__feedback-form {
        display: flex;
        flex-direction: column;
        padding: 0 18px 0 0;
        @media (max-width: 768px) {
            padding: 0;
        }
    }

    // .contactMe__feedback-email

    &__feedback-email {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #bdae82;
        box-sizing: border-box;
        font-size: 20px;
        line-height: 40px;
        /* identical to box height, or 200% */
        color: #bdae82;
        width: 450px;
        height: 50px;
        padding: 0px 0 0 16px;
        margin: 0 0 20px 0;
        @media (max-width: 450px) {
            width: 200px;
            margin: 20 auto;
        }
    }

    // .contactMe__feedback-phone

    &__feedback-phone {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #bdae82;
        box-sizing: border-box;
        font-size: 20px;
        line-height: 40px;
        /* identical to box height, or 200% */
        color: #bdae82;
        width: 450px;
        height: 50px;
        padding: 0px 0 0 16px;
        margin: 0 0 20px 0;
        @media (max-width: 450px) {
            width: 200px;
            margin: 20 auto;
        }
    }

    // .contactMe__feedback-area

    &__feedback-text {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #bdae82;
        box-sizing: border-box;
        font-size: 20px;
        line-height: 40px;
        width: 450px;
        height: 100px;
        /* identical to box height, or 200% */
        color: #bdae82;
        padding: 0px 0 0 16px;
        margin: 0 0 30px 0;
        @media (max-width: 450px) {
            width: 200px;
            margin: 20 auto;
        }
    }

    // .contactMe__feedback-btn

    &__feedback-btn {
        width: 220px;
        height: 55px;
        background: #bdae82;
        font-size: 20px;
        line-height: 40px;
        /* identical to box height, or 200% */
        text-align: center;
        color: #000000;
        margin: 0 0 195px 0;
        @media (max-width: 768px) {
            margin: 0 auto;
        }
        @media (max-width: 450px) {
            width: 200px;
            margin: 20 auto;
        }
    }
    &__feedback-btn:hover {
        color: white;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 18px 0 0 0;
    }

    // .footer__left

    &__left {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 50px;
        /* identical to box height, or 250% */
        
        gap: 22px;
        padding: 0 0 0 20px;
        @media (max-width: 768px) {
            padding: 0;
            gap: 24px;
        }
        a:active {
            color: rgb(201, 154, 121);
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #bdae82;
        }
    }

    // .footer__center

    &__center {
        @media (max-width: 768px) {
            margin: 2px 0 30px 0;
        }

        a {
            font-size: 20px;
            line-height: 50px;
            /* identical to box height, or 250% */
            
            padding: 0 0 0 17px;
            @media (max-width: 768px) {
                padding: 0;
                font-size: 20px;
                line-height: 24px;
            }
        }
        a:active {
            color: rgb(201, 154, 121);
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #bdae82;
        }
    }

    // .footer__right

    &__right {
        padding: 0 20px 0 0;
        @media (max-width: 768px) {
            padding: 0;
        }
    }

    // .footer__right-list

    &__right-list {
        display: flex;
        gap: 20px;
    }
    &__right-inst:hover {
        fill: #bdae82;
    }
    &__right-fb:hover {
        fill: #bdae82;
    }
    &__right-tw:hover {
        fill: #bdae82;
    }
    &__right-pain:hover {
        fill: #bdae82;
    }
}
